html,body,h1,h2,h3,h4,h5,h6 {font-family:  Arial, Helvetica, sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

a{color: blue}

/* Word wrap all */
body{word-wrap: break-word;}

/*Nav Bar*/
.hg-NavBar{
  background: black;
  position:fixed;
  width:100%;
  z-index:1;
}
/*Nav Bar Title*/
.hg-NavBarTitle{
  padding:8px 16px;
  float:left;
  font-size:18px!important;
  color: white;
}
/*Back Button---------------------------------------------------------------------------------------------------------*/
.hg-BackButton{
  background: black;
  color: white;
  font-size:18px!important;
  float:left!important;
  padding:8px 16px;
  text-decoration:none;
}
.hg-BackButton:hover{
  background: white !important;;
  color: black;
  /* font-size:18px!important */
}

@media all and (display-mode: browser) {
    .hg-BackButton {
      display: none /*Hides BackButton when in browser*/
    }
  }
  @media all and (display-mode: standalone) {
    .hg-BackButton {
      display: block; /*Hides BackButton when in browser*/
    }
  }
  /*Hamburger Button*/
  .hg-HamBtn{
    background: black;
    color: white;
    font-size:18px!important;
    float:right!important;
    padding:8px 16px;
    text-decoration:none;
   
  }
  .hg-HamBtn:hover{
    background: white !important;;
    color: black;
  }
  

  /* Title--------------------------------------------------------------------------- */
  .hg-h1PageTitle{
    font-size: 1.5em;
    margin-bottom: 0.2em;
    color: Black;
    font-weight: bold;
    /* background-color: #00ffff; */
  }
  .hg-h2PageSubtitle{
      font-size: 1.17em;
      margin-top: 0.10em;
      color: Black;
      /* background-color: #ddffdd; */
  }
  .hg-h3PageSubtitle{
    font-size: 1.00em;
    margin-top: 0.10em;
    /* color: #009688; */
    /* background-color: #ddffdd; */
  }
  
  /*Side Bar---------------------------------------------------------------------------------------------------*/
  .hg-SideBar{
    font-size:18px!important;
    color:#000 !important; 
    background-color:#f0f0f0 !important;
    display:none;
    float:none;
    margin-left: 0px;
    margin-left: 0px;
    outline:0;
    /* height:100%; */
    position:fixed!important;
    top: 0;
    overflow:auto;
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
    animation: animateleft 0.4s;
  }
  @keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

  .hg-SideBar h4{
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    /* padding:8px 16px; */
    text-align:left;
    font-weight: bold;
  }

  .hg-SideBarItem{
    margin-top: 2px;
    color: blue;
    text-decoration: none;
    display:block;
    padding:8px 16px;
    /* width:100%; 
    /* text-align:left; */
  }
  .hg-SideBarItem:hover{
    /* color:darkblue; */
    color: white;
    background-color:black;
  }
  .hg-SideBarItem:active{
    color: red;
  }
  .hg-SideBarItemSelected{
    margin-top: 2px;
    color: white;
    background: black;
    text-decoration: none;
    display:block;
    padding:8px 16px;
    /* width:100%; */
    /* text-align:left; */
  }

  .hg-SideBarItem2{
    margin-top: 2px;
    margin-left: 12px;
    color: blue;
    text-decoration: none;
    display:block;
    padding:8px 16px;
    /* width:100%; 
    /* text-align:left; */
  }
  .hg-SideBarItem2:hover{
    color: white;
    background-color:black;
  }
  .hg-SideBarItem2:active{
    color: red;
  }
.hg-SideBarSubHeader{
  color:black; 
  margin-left: 14px;
  margin-top: 12px; 
  margin-bottom: 8px;
}


  /*OverLay---------------------------------------------------------------------------------------------*/
  .hg-OverLay{
    position:fixed;
    display:none;
    width:100%;height:100%;
    top:0;left:0;right:0;bottom:0;
    background-color:rgba(0,0,0,0.5);
    cursor:pointer;
    z-index:2;
  }
  
  /*Main Content--------------------------------------------------------------------------------------------------*/
  .hg-MainContent{
    margin-left:250px;
    padding-top:64px!important;
    padding-bottom:64px!important;
    transition:margin-left .4s;
  }
  .hg-InfoContent{
    padding:0.01em 16px;
    float:left;
    /* width:100%; */
  }
  .hg-AddContent{
    padding:0.01em 16px;
    /* width:33.33333%; */
    display: inline-block
  }
  .hg-AddSmall{
    border:1px solid #ccc!important;
    padding:32px 24px!important;
    text-align:center!important;
  }
  .hg-AddLarge{
    border:1px solid #ccc!important;
    padding:64px 24px!important;
    text-align:center!important
  }
  /* MainLink---------------------------------------------------------------------------------------- */
  .hg-MainLink {
    color: blue;
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    font-size: 1.4em;
    /* margin-top: 0.5em; */
    /* margin-bottom: 0.5em; */
    margin-left: 0px;
    margin-right: 0px;
    font-weight:normal;
  }

  .hg-MainLink:hover {
    background:black;
    color: white;
  }

  .hg-MainLink:active {
    color: red;
  }
  /*Nav Link----------------------------------------------------------------------------------------------------*/
  .hg-NavLink{
    padding:10px 16px 10px 16px;
    margin: 6px 0px 0px 0px; /*seperates accordians so can see shadow*/
    white-space: normal;  /*lets words wrap in accordian button*/
    text-align:left;
    color :black;
    background:#f0f0f0 ;
    display:block;
    border:none;
    /* width:100%; */
    width:auto;
    font-size: 18px;  
    /* font-size: 1.2em; */
    text-decoration: none;
    cursor:pointer;
    /* height: 50px; */
  }

  .hg-NavLinkSub1{
    /* margin-left: 24px; */
    background:#f0f0f0 ;
    width: 50%;
  }

  .hg-NavLink:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }
  .hg-NavLinkChevron{
    float:right;  
    font-size: 18px;  
    margin:0px; 
  }
  .hg-NavLinkChevronRt{
    float:right;  
    font-size: 18px;  
    margin:0px; 
    color:black;
  }
  /*Accordian-------------------------------------------------------------------------------------------------------------*/
    .hg-accBtn{
      padding:10px 16px 10px 2px;
      margin: 0px 0px 0px 0px; /*seperates accordians so can see shadow*/
      white-space: normal;  /*lets words wrap in accordian button*/
      text-align:left;
      color:black;
      background: white; 
      /* background:#f0f0f0; */
      display:block;
      border:none;
      width:100%;
      font-size: 18px;  
      /* font-size: 1.2em; */
      text-decoration: none;
      cursor:pointer;

      font-weight: bold; 
      border-top: 1px solid#ccc ;
      /* border-left: 1px solid black; */
    }
    
    .hg-accBtn:hover{
      color:white;
      background:black;
      /* box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) */
    }
    .hg-accBtn:active{
      color:red;
      background: white; 
 
    }
    .hg-accBtn:focus{
      color:black;
      background: white; 
    }


    hg-NavLinkChevron:hover{
      color:white;
    }
    .hg-accDivMain{
        display:none;
        margin-top: -16px;
        margin-bottom: 16px;
        /* background: beige; */
    }
    .hg-accUl{
       
        margin-left: 16px;
        margin-right: 0px;
        padding: 0px;
        /* background: powderblue; */
    }
    .hg-accUl li ul{
        margin-left: 0px; 
        padding-left: 16px; 
        /* background: plum; */
      }

      .hg-accAalone{
        margin-left: 16px;
        color: teal;
        text-decoration: none;
      }

      .hg-accOlRef{
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 0px;
        padding: 0px;
        font-size: 0.80em;
        /* background: powderblue; */
      }
  

    /*Algorithm------------------------------------------------------------------------------------------------------*/
  /*Main div*/
    .hg-algoDivMain{
      /* margin-top: -16px; */
      margin-bottom: 16px;
      /* padding-top: 24px; */
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      display: none;
      /* background: lightblue */
      /* background: lightcyan; */
      /* border-radius: 24px; */
      /* border: 1px solid #ccc; */
      /* position: relative; */
  }
  /*Straight border div*/
  .hg-algoDivStrBorder{
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: auto ;
    margin-right: auto ;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid black; 
    background: white;
  }
  /*Rounded border div*/
  .hg-algoDivRdBorder{
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: auto ;
    margin-right: auto ;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid black;
    /* background: lightcyan; */
    background: rgb(220, 241, 220);
    border-radius: 8px;
  }
 /*No border div*/
  .hg-algoDivNoBorder{
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: auto ;
    margin-right: auto ;
    padding-left: 16px;
    padding-right: 16px;
    text-align:center;
  }
   /*h3*/
   .hg-algoh3{
    text-align:center;
    /* margin: 6px; */
    font-size: 1.10em;
    color: black;
  }
  /*Algo status*/
.hg-pAlgoStatus{
  /* margin:0px 0px 12px 0px; */
  /* background: red; */
  color:red;
}

  /*Up button*/
  .hg-algoBtnUp{
    padding:8px 16px;
    width: 50px;
    /* background: #f0f0f0; */
    background: lightgoldenrodyellow;
    color: black;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 1.2em;
    border:none;
    cursor:pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  /*Down Arrow p*/
  .hg-algoParaDn{
    color: black;
    font-size: 1.2em;
  }
  .hg-algoBtnA{
    /* border: 1px solid #ccc; */
    padding:8px 16px;
    font-size: 1.2em;
    margin-bottom: 16px;
    display:block;
    width:100%;
    /* outline:none; */
    text-align:center;
    margin-left: auto ;
    margin-right: auto ;
    white-space: normal;  /*lets words wrap in accordian button*/
    /* background: coral; */
    /* background: #ffdb58; */
    background: lightgoldenrodyellow;
    /* background: lightpink; */
    /* background: #f0f0f0; */
    color:black;
    border:none;
    cursor:pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
    /*UL*/
    .hg-algoUl{
      margin-top: 0px;
      margin-left: 12px;
      margin-right: 4px;
      padding: 0px;
      /* background: powderblue; */
    }
   .hg-algoUl li ul{
      margin-left: 0px; 
      padding-left: 16px; 
      /* background: plum; */
    }

    
   
  
    /*Refresh button*/
    .hg-algoRfBtn{
      /* border: 1px solid #ccc; */
      border-radius:50%;
      /* background: lightgoldenrodyellow; */
      background: lightpink;
      /* background:#f0f0f0; */
      color: black;
      margin-left: 16px;
      margin-bottom: 16px;
      box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    }
    
  


    @media (min-width:601px){.hg-InfoContent{width:66.66666%} .hg-AddContent{float: right; width:33.33333%;}}
    @media (max-width:600px){.hg-InfoContent{width:100%} .hg-AddContent{width: 100%; float: left;}}

   